RCS
*.rom
*.vcd
*.gtkw
Schematic/Makefile
Schematic/gui_defaults.par
Schematic/rescue-backup
Schematic/fp-info-cache
Schematic/sym-lib-table
Schematic/boardmoves.bak
Schematic/romdemux.bak
Schematic/ttt_ttl.bak
Schematic/ttt_ttl.dsn
Schematic/ttt_ttl.kicad_pcb-bak
Schematic/ttt_ttl.net
Schematic/ttt_ttl.rules
Schematic/ttt_ttl.ses
Schematic/usermoves.bak
Schematic/Gerber
Schematic/Schematic.xml
Schematic/newbom.csv
Schematic/oldbom.csv
Misc
